{% extends "base.html.twig" %}
{% block titulo %}Actualización del estado de un ejemplar{% endblock %}
{% block contenido %}
<style type="text/css">
        .panel{
            border-radius: 0;
            }
            .panel-default > .panel-heading {
            color: #fff;
            background-color: #52B9E9;
            border-color: #ddd;
            }
.btn-circle.btn-xl{
            float: left;
            width: 80px;
            height: 40px;
            border-radius: 0;
            font-size: 18px;
            color: #fff;
            padding: 8px 25px;
            margin-right: 2%;
            }
            .btn-danger{
                background: #FA3031;
            }
            .btn-warning{
                background: #F88529;
            }
            h3{
                margin-top: 2px;
            }
            #form1{
            margin-bottom: 20px;

        }
        #form1 button{
            display: inline-block;
            color: #ffffff;
            padding: 7px 25px;
            margin-left: 10px;
        }
          
    </style>
        <h1 class="page-header">Actualización de ejemplares</h1>
        <div class="row">
        <div class="col-sm-6 col-sm-offset-5">
            <form class="form-inline" role="form" id="form1" method="post" action="/">
                <div class="form-group">
                    <label class="sr-only" for="search">Buscar</label>
                    <input type="text" class="form-control" name="buscar_ejemplar" id="act_ej" placeholder="Buscar código de ejemplar">
                </div>
                <button type="submit" class="btn btn-success" name="boton_buscar_ejemplar">Buscar</button>
            </form>
        </div>
    </div>
        <form class="form-horizontal" role="form" method="post" action="/">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-cogs"></i> Actualización del ejemplar {{anotar.codigo }}</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="codigo" class="col-sm-2 control-label">Código del ejemplar</label>
                    <div class="col-sm-10">
                        <h3>{{ anotar.codigo }}</h3>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="titulo" class="col-sm-2 control-label">Título del libro y año</label>
                    <div class="col-sm-10">
                        <h3>{{ anotar.titulo }}, {{anotar.anio}}</h3>
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotacion" class="col-sm-2 control-label">Anotación</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="anotacion" name="anotacion" value="" placeholder="Comentarios...." autofocus></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="estado" class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                    <select class="form-control" name="estado">
                        <option placeholder="Estado del ejemplar"></option>
                        <option value="0">Bueno</option>
                        <option value="1">Regular</option>
                        <option value="2">Malo</option>
                        <option value="3">Perdido</option>
                        <option value="4">Baja</option>
                    </select>
                        </div>
                </div>
                   
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-warning btn-circle btn-xl" id="tooltip2" data-toggle="tooltip" data-placement="bottom" title="Actualizar cambios" name="actualizar_ejemplar" value="{{ anotar.codigo }}"><i class="fa fa-upload"></i></button>
                    </div>
                </div>
                
            </div>
        </div>
        <a href="{{ urlFor('listado_devueltos') }}" role="button" id="tooltip3" class="btn btn-danger btn-circle btn-xl" data-toggle="tooltip" data-placement="bottom" title="Volver al listado de ejemplares"><i class="fa fa-arrow-left"></i>
        </a>
        <button value="{{anotar.codigo}}" name="ir_historial" id="tooltip1" role="button" type="submit" class="btn btn-info btn-circle btn-xl" data-toggle="tooltip" data-placement="bottom" title="Ir al historial del ejemplar"><i class="fa fa-arrow-right"></i></button>           
        </form>
        {% if error %}<div class="alert alert-danger">{{error}}</div>{% endif %}
        {% endblock %}