{% extends "base.html.twig" %}
{% block titulo %}Historial de ejemplares{% endblock %}
{% block contenido %}
<style type="text/css">
        
.btn-circle.btn-xl{
            float: left;
            width: 80px;
            height: 40px;
            border-radius: 0;
            font-size: 18px;
            color: #fff;
            padding: 8px 25px;
            margin-right: 2%;
            }
            .btn-danger{
                background: #FA3031;
            }
            .btn-warning{
                background: #F88529;
            }
            h3{
                margin-top: 2px;
            }
            #form1{
            margin-bottom: 20px;

        }
        #form1 button{
            display: inline-block;
            color: #ffffff;
            padding: 7px 25px;
            margin-left: 10px;
        }
        h2{
            margin-bottom: 40px;
            }
            h4{
                margin-top: 40px;
          
    </style>
        <h1 class="page-header">Historial de ejemplares</h1>
        <div class="row">
        <div class="col-sm-6 col-sm-offset-5">
            <form class="form-inline" role="form" id="form1" method="post" action="/">
                <div class="form-group">
                    <label class="sr-only" for="search_hist">Buscar</label>
                    <input type="text" class="form-control" name="search_hist" id="search_hist" placeholder="Código de ejmplar" autofocus>
                </div>
                <button type="submit" class="btn btn-success" name="boton_buscar_ej" >Buscar</button>
            </form>
        </div>
    </div>
        <h2>Historia del ejemplar {{ ejemplares.codigo }}{{anotar.codigo}}</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha</th><th>Tipo de actuación</th><th>Estado</th><th>Anotación</th>
                </tr>
            <tbody>
                {% for lista in listas %}
                    <tr>
                <td>{{lista.fecha|date('d/m/Y')}}</td>
                <td>{{lista.tipo}}</td>
                <td>{% if lista.estado == 0 %} Bueno {% elseif lista.estado == 1 %} Regular
                {% elseif lista.estado == 2 %} Malo {% elseif lista.estado == 3 %} Perdido
                {% elseif lista.estado == 4 %} Baja {% else %} Sin estado {% endif %}
                </td>
                <td>{{lista.anotacion}}</td>
                    </tr>
                {% endfor %}

               
                </tbody>
                </thead>
            </table>
        <h4><strong>Total</strong> de hitos encontrados: <strong>{{ items.count }}</strong></h4>
        {% endblock %}