{% extends "base.html.twig" %}
{% block contenido %}
<style type="text/css">
        thead{
            color: #ffffff;
            background-color: #52B9E9;
            }
        .btn-circle.btn-xl{
            float: left;
            width: 80px;
            height: 40px;
            border-radius: 0;
            font-size: 18px;
            color: #fff;
            padding: 8px 25px;
            margin-right: 2%;
            }
            .btn-danger{
                background: #FA3031;
            }
            .btn-warning{
                background: #F88529;
                }
                thead{
                    border-bottom-color: #52B9E9;
                    }
    </style>
<h1 class="page-header">Listado de ejemplares no devueltos</h1>
<form class="form-horizontal" role="form" method="post" action="/">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th><th>Nombre</th><th>Editorial</th><th>Año</th><th>ISBN</th><th>Acciones</th>
            </tr>
        <tbody>
                {% for list in list_dev %}
                <tr>
                    <td>{{list.codigo}}</td>
                    <td>{{list.titulo }}</td>
                    <td>{{list.autor }}</td>
                    <td>{{list.anio}}</td>
                    <td>{{list.isbn}}</td>
                    
                    <td>
                        <button id="tooltip3" type="submit" class="btn btn-danger btn-circle btn-xl" data-toggle="tooltip" data-placement="bottom" name="borrar_user" title="Borrar usuario" value="{{ user.id }}"><i class="fa fa-eraser"></i></button>
                        <button type="submit" class="btn btn-warning btn-circle btn-xl" id="tooltip2" data-toggle="tooltip" data-placement="bottom" name="edit_usuario" title="Editar usuario" value="{{ user['id'] }}"><i class="fa fa-cogs"></i></button>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
            </thead>
        </table>
        <a href="{{ urlFor('inicio') }}" role="button" id="tooltip1" type="button" class="btn btn-danger btn-circle btn-xl" data-toggle="tooltip" data-placement="bottom" title="Volver a inicio"><i class="fa fa-arrow-left"></i></a>
    </form>
        {% endblock %}