{% extends "base.html.twig" %}
{% block contenido %}
<style type="text/css">
        thead{
            color: #ffffff;
            background-color: #52B9E9;
        }
        .btn-circle.btn-xl{
            float: left;
            width: 80px;
            height: 40px;
            border-radius: 0;
            font-size: 18px;
            color: #fff;
            padding: 8px 25px;
            margin-right: 2%;
        }
        .btn-danger{
            background: #FA3031;
        }
        .btn-warning{
            background: #F88529;
        }
        thead{
            border-bottom-color: #52B9E9;
        }
        #form1{
            margin-bottom: 20px;

        }
        #form1 button{
            display: inline-block;
            color: #ffffff;
            padding: 7px 25px;
            margin-left: 10px;
        }
        label{
            margin: 5px 10px;
        }
    </style>
<h1 class="page-header">Listado de ejemplares no devueltos</h1>
<div class="row">
        <div class="col-sm-8 col-sm-offset-3">
<form class="form-inline" role="form" id="form1" method="post" action="/">
  <div class="form-group">
                    <label for="asignatura">Asignatura</label>
                    <select class="form-control" name="asig_no_post">
                        <option></option>
                        {% for asig in asigs %}
                        <option>{{asig.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="curso">Curso</label>
                    <select class="form-control" name="curso_no_post">
                        <option></option>
                        {% for curso in curso_dev %}
                        <option>{{curso.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="alumno">Alumno</label>
                    <select class="form-control" name="alumno_no_post">
                        <option></option>
                        {% for alum in alumno_dev %}
                        <option>{{alum.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
  <button type="submit" class="btn btn-success" name="filtro_no_dev" style="display: inline-block; margin-left: 10px;">Filtrar</button>
</form>
        </div>
    </div>
<form class="form-horizontal" role="form" method="post" action="/">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th><th>Nombre</th><th>Alumno</th><th>Editorial</th><th>Año</th><th>ISBN</th><th>Acciones</th>
            </tr>
        <tbody>
                {% for list in list_dev %}
                <tr>
                    <td>{{list.codigo}}</td>
                    <td>{{list.titulo }}</td>
                    <td>{{list.nombre}}</td>
                    <td>{{list.autor }}</td>
                    <td>{{list.anio}}</td>
                    <td>{{list.isbn}}</td>
                    
                    <td>
                        <button id="tooltip3" type="submit" class="btn btn-danger btn-circle btn-xl" data-toggle="tooltip" data-placement="bottom" name="baja_ejemplar_no" title="Dar de baja ejemplar" value="{{ list.codigo }}"><i class="fa fa-eraser"></i></button>
                        <button type="submit" class="btn btn-warning btn-circle btn-xl" id="tooltip2" data-toggle="tooltip" data-placement="bottom" name="anotar_ejemplar" title="Realizar anotación" value="{{ anotar.codigo }}"><i class="fa fa-edit"></i></button>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
            </thead>
        </table>
        <a href="{{ urlFor('inicio') }}" role="button" id="tooltip1" type="button" class="btn btn-danger btn-circle btn-xl" data-toggle="tooltip" data-placement="bottom" title="Volver a inicio"><i class="fa fa-arrow-left"></i></a>
        <a href="{{ urlFor('listado_devueltos') }}" id="tooltip2" role="button" type="button" class="btn btn-info btn-circle btn-xl" data-toggle="tooltip" data-placement="bottom" title="Ir a ejemplares devueltos"><i class="fa fa-arrow-right"></i></a>
    </form>
        {% endblock %}